{% extends 'base.html.twig' %}

{% block title %}Formation{% endblock %}

{% block contenu %}
    <h1>Formation</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ formation.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ formation.nom }}</td>
            </tr>
            <tr>
                <th>NomComplet</th>
                <td>{{ formation.nomComplet }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('formation_index') }}">Retour</a>

    <a href="{{ path('formation_edit', {'id': formation.id}) }}">editer</a>

    {{ include('formation/_delete_form.html.twig') }}
{% endblock %}
