{% extends 'base.html.twig' %}
{% block contenu %}


<div class=""container-fluid"">
	<div class="row">
		<div class="col-md-2">
		</div>
		<div class="col-md-8">
			<h4> Liste des stages proposés par {nomEnt}} : </h4>
		</div>
		<div class="col-md-2">
		</div>
	</div>
	<div class="row">
		<div class="col-md-2">
		</div>
		<div class="col-md-8">
			
			
				<table class="table">
					<thead>
						<tr>
							<th>
								#
							</th>
							<th>
								entreprise
							</th>
							<th>
								adresse
							</th>
							<th>
								formation
							</th>
							<th>
								plus d'info
							</th>
							
						</tr>
					</thead>
					<tbody>
					{% for stage in listeStages %}
						<tr class= "table-active">
						
							<td>
								{{stage.id}}
							</td>
							<td>
								{{stage.entreprise.nom}}
							</td>
							<td>
								{{stage.entreprise.adresse}}
							</td>
							<td>
								{% for uneFormation in stage.formations %}
									{{uneFormation.nom}} / 
									
								{% endfor %}
							</td>
							<td>
							<a href={{path('proStage_detailStage' ,{ id:stage.id} )}}>
								voir
							</a>
							</td>
							
						</tr>
					
					{% endfor %}
					</tbody>
				</table>
		</div>
		<div class="col-md-2">
		</div>
	</div>
</div>
{% endblock %}