{% extends 'base.html.twig' %}

{% block contenu %}

	<div class="container-contenu">
		<div class="row">
			<div class="col-md-2">
			</div>
			<div class="col-md-8">
				<h4> Liste des entreprises proposant des stages : <h4>
			</div>
			<div class="col-md-2">
			</div>
		</div>
			
		<div class="row">
			<div class="col-md-1">
			</div>
			<div class="col-md-10">
				<div id = "lienAjout">
					<p> vous ne trouvez pas une entreprise ? : </p><a href="{{path('proStage_ajoutEntreprises')}}"> ajouter la </a>
				</div>
				<table class="table">
				<thead>
				<th>
					#
				</th>
				<th>
					nom
				</th>
				<th>
					adresse
				</th>
				<th>
					activité
					
				</th>
				<th>
					URL site
				</th>
				<th>
					stages proposés
				</th>
				<th>
					modifier
				</th>
				</thead>
				<tbody>
					{% for entreprise in  listeEntreprises %}
						<tr class= "table-active">
							<td>
								{{entreprise.id}}
							</td>
							<td>
								{{entreprise.nom}}
							</td>
							<td>
								{{entreprise.adresse}}
							</td>
							<td>
								{{entreprise.activite}} 
								
							</td>
							<td>
								{{entreprise.urlSite}}
							</td>
							<td>
								<a href={{path('proStage_entrepriseStages' ,{ nom:entreprise.nom} )}}>
									voir
								</a>
							</td>
							<td>
								<a href={{path('proStage_modifierEntreprise' ,{ id:entreprise.id} )}}>
									modif
								</a>
							</td>
						</tr>
					{% endfor %}
					</tbody>
				</table>
			</div>
			<div class="col-md-1">
			</div>
		</div>
	
	</div>

{% endblock %}