{% extends 'base.html.twig' %}
{% block contenu %}
<h2></h2>
	<div class="container-fluid">
		<div class="row-fluid">
			<div class="col-md-12-titreStage">
				<h4 id=titreStage>Details du stage : {{stage.titre}}</h4>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12-contenuStage">
				<div class=details>
					<dt>entreprise: </dt>
					<dd>{{ stage.entreprise.nom }}</dd>
					</br>
				</div>
				<div class=details>
					<dt>adresse: </dt>
					<dd>{{ stage.entreprise.adresse }}</dd>
					</br>
				</div>
				<div class=details>
					<dt>activité: </dt>
					<dd>{{ stage.entreprise.activite }}</dd>
					</br>
				</div>
				<div class=details>
					<dt>contact: </dt>
					<dd>{{ stage.emailContact }}</dd>
					</br>
				</div>
				
				<div class=details>
					<dt> formations acceptées : </dt>
					<dd>
					{% for uneFormation in stage.formations %}			
						 {{uneFormation.nom}} /
					{% endfor %}
					</dd>
					</br>
				</div>
				<div class=details>
					<dt>lien du site: </dt>
					<dd>{{ stage.entreprise.urlSite }}</dd>
					</br>
				</div>
				
					<dt> descriptif de la mission: </dt>
				<div id=mission>
					<dd>{{ stage.mission }}</dd>
					</br>
				</div>
			</div>
			
		</div>
	</div>
		
	
</div>

{% endblock %}